<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bloles-defaults" version="1.0.1" targetFramework="native" developmentDependency="true" />
  <package id="boost" version="1.64.0.0" targetFramework="native" />
  <package id="boost_date_time-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_program_options-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="boost_system-vc141" version="1.64.0.0" targetFramework="native" />
  <package id="builddir" version="3.2.1" targetFramework="native" developmentDependency="true" />
  <package id="manage-property-sheets" version="1.0.1" targetFramework="native" developmentDependency="true" />
</packages>